* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Overpass Mono", monospace;
  font-size: 62.5%;
  background-color: #0B1D26; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px; }
  header .headerLogo {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400; }
    header .headerLogo :nth-child(2) {
      padding-left: 25px; }
  header .headerNav .headerNav__ul {
    list-style: none;
    display: flex; }
    header .headerNav .headerNav__ul li {
      padding: 10px; }
      header .headerNav .headerNav__ul li a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 0.5rem; }
  header .headerAccount {
    display: flex;
    align-items: center; }
    header .headerAccount img {
      width: 15px;
      padding-right: 5px; }
    header .headerAccount a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 0.5rem; }

@media screen and (min-width: 768px) {
  header {
    padding-top: 30px; }
    header .headerLogo {
      font-size: 1.8rem; }
      header .headerLogo :nth-child(2) {
        padding-left: 55px; }
    header .headerNav .headerNav__ul li {
      padding: 30px; }
      header .headerNav .headerNav__ul li a {
        font-size: 0.8rem; }
    header .headerAccount img {
      width: 35px;
      padding-right: 10px; }
    header .headerAccount a {
      font-size: 1rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Overpass Mono", monospace;
  font-size: 62.5%;
  background-color: #0B1D26;
  color: #FFFFFF; }

main {
  width: 100vw; }
  main .mainPincipal {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0; }
    main .mainPincipal .imgPortada {
      position: absolute;
      top: 0%;
      z-index: -1;
      width: 100vw; }
    main .mainPincipal .mainPrincipal__social {
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 10px; }
      main .mainPincipal .mainPrincipal__social p {
        transform: rotate(90deg);
        font-size: 0.4rem; }
      main .mainPincipal .mainPrincipal__social ul {
        list-style: none; }
        main .mainPincipal .mainPrincipal__social ul img {
          width: 10px; }
    main .mainPincipal .mainPrincipal__titulo {
      width: 60vw; }
      main .mainPincipal .mainPrincipal__titulo .divh3 {
        display: flex;
        align-items: center; }
        main .mainPincipal .mainPrincipal__titulo .divh3 div {
          width: 22px;
          height: 1px;
          margin-right: 5px;
          background-color: #0B1D26; }
        main .mainPincipal .mainPrincipal__titulo .divh3 h3 {
          font-weight: 700;
          color: #0B1D26;
          text-transform: uppercase;
          font-size: 0.5rem; }
      main .mainPincipal .mainPrincipal__titulo h1 {
        padding-bottom: 15px;
        font-family: "Playfair Display", serif;
        font-size: 1.5rem;
        text-transform: capitalize; }
      main .mainPincipal .mainPrincipal__titulo p {
        font-weight: 600;
        font-size: 0.4rem; }
        main .mainPincipal .mainPrincipal__titulo p span img {
          height: 8px; }
    main .mainPincipal .mainPrincipal__indice {
      padding: 10px 10px 0 0; }
      main .mainPincipal .mainPrincipal__indice p {
        font-size: 0.5rem; }
      main .mainPincipal .mainPrincipal__indice ul {
        list-style: none; }
        main .mainPincipal .mainPrincipal__indice ul li {
          padding-top: 3px; }
        main .mainPincipal .mainPrincipal__indice ul a {
          color: #FFFFFF;
          text-decoration: none;
          font-size: 0.5rem; }
  main .mainContenido article {
    width: 80vw;
    margin: 0 auto; }
    main .mainContenido article .articleDiv {
      padding: 0 30px 25px;
      position: relative;
      background: radial-gradient(circle farthest-corner at center center, #0b1d26 0%, rgba(11, 29, 38, 0) 80%); }
      main .mainContenido article .articleDiv .divh3 {
        display: flex;
        align-items: center; }
        main .mainContenido article .articleDiv .divh3 div {
          width: 22px;
          height: 1px;
          margin-right: 5px;
          background-color: #FBD784; }
        main .mainContenido article .articleDiv .divh3 h3 {
          font-weight: 700;
          color: #FBD784;
          text-transform: uppercase;
          font-size: 0.5rem; }
      main .mainContenido article .articleDiv h2 {
        padding-bottom: 15px;
        font-family: "Playfair Display", serif;
        font-size: 1.2rem;
        text-transform: capitalize; }
      main .mainContenido article .articleDiv p {
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 0.4rem;
        color: #FBD784;
        padding-top: 10px; }
        main .mainContenido article .articleDiv p span img {
          height: 8px; }
    main .mainContenido article figure img {
      width: 80vw;
      margin-bottom: 70px; }

footer {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin: 15px;
  font-size: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  footer .footerSection1 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    footer .footerSection1 h2 {
      font-family: "ABeeZee", sans-serif; }
    footer .footerSection1 p {
      font-size: 0.3rem;
      width: 35vw;
      padding-top: 10px; }
    footer .footerSection1 p:nth-child(1) {
      opacity: 0.5; }
  footer .footerSection2 h3 {
    font-size: 0.5rem;
    color: #FBD784; }
  footer .footerSection2 ul {
    list-style: none; }
    footer .footerSection2 ul li {
      padding-top: 8px; }
      footer .footerSection2 ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 0.3rem; }

@media screen and (min-width: 440px) {
  main .mainContenido {
    margin-top: 20vh; }
    main .mainContenido .mainPincipal {
      height: 60vh; } }

@media screen and (min-width: 440px) and (min-width: 510px) {
  main .mainContenido {
    margin-top: 20vh; } }

@media screen and (min-width: 768px) {
  main .mainPincipal {
    height: 45vh;
    justify-content: space-around; }
    main .mainPincipal .mainPrincipal__social {
      height: 200px; }
      main .mainPincipal .mainPrincipal__social p {
        font-size: 0.8rem; }
      main .mainPincipal .mainPrincipal__social ul img {
        width: 20px; }
    main .mainPincipal .mainPrincipal__titulo .divh3 div {
      width: 44px;
      height: 2px;
      margin-right: 10px; }
    main .mainPincipal .mainPrincipal__titulo .divh3 h3 {
      text-transform: uppercase;
      font-size: 1rem; }
    main .mainPincipal .mainPrincipal__titulo h1 {
      padding-bottom: 20px;
      font-size: 3rem; }
    main .mainPincipal .mainPrincipal__titulo p {
      font-size: 0.8rem;
      display: flex;
      align-items: center; }
      main .mainPincipal .mainPrincipal__titulo p span img {
        height: 16px;
        padding-left: 12px; }
    main .mainPincipal .mainPrincipal__indice {
      padding-top: 20px; }
      main .mainPincipal .mainPrincipal__indice p {
        font-size: 1rem; }
      main .mainPincipal .mainPrincipal__indice ul li {
        padding-top: 8px; }
      main .mainPincipal .mainPrincipal__indice ul a {
        font-size: 0.8rem; }
  main .mainContenido {
    margin-top: 12vh; }
    main .mainContenido :nth-child(2) {
      flex-direction: row-reverse; }
    main .mainContenido article {
      max-width: 700px;
      margin-top: 40px;
      display: flex;
      align-items: center; }
      main .mainContenido article .articleDiv {
        bottom: 0px; }
        main .mainContenido article .articleDiv .divh3 div {
          width: 40px; }
        main .mainContenido article .articleDiv .divh3 h3 {
          font-size: 0.8rem; }
        main .mainContenido article .articleDiv h2 {
          padding-bottom: 25px;
          font-size: 1.7rem;
          text-transform: capitalize; }
        main .mainContenido article .articleDiv p {
          width: 80px;
          font-size: 0.6rem;
          padding-top: 12px; }
          main .mainContenido article .articleDiv p span img {
            height: 12px; }
      main .mainContenido article figure img {
        width: 40vw;
        max-width: 350px; } }

@media screen and (min-width: 1024px) {
  main .mainPincipal {
    height: 60vh;
    width: 100vw; }
    main .mainPincipal .mainPrincipal__social {
      height: 200px;
      padding-top: 10px; }
      main .mainPincipal .mainPrincipal__social p {
        font-size: 1rem; }
      main .mainPincipal .mainPrincipal__social ul img {
        width: 20px; }
    main .mainPincipal .mainPrincipal__titulo .divh3 div {
      width: 22px;
      height: 1px;
      margin-right: 5px;
      background-color: #0B1D26; }
    main .mainPincipal .mainPrincipal__titulo .divh3 h3 {
      font-size: 1rem; }
    main .mainPincipal .mainPrincipal__titulo h1 {
      font-size: 2.8rem; }
    main .mainPincipal .mainPrincipal__titulo p {
      font-weight: 600;
      font-size: 0.8rem; }
      main .mainPincipal .mainPrincipal__titulo p span img {
        height: 16px; }
    main .mainPincipal .mainPrincipal__indice {
      padding: 15px 10px 0 0; }
      main .mainPincipal .mainPrincipal__indice p {
        font-size: 1rem; }
      main .mainPincipal .mainPrincipal__indice ul a {
        font-size: 1rem; }
  main .mainContenido {
    margin-top: 75vh; }
    main .mainContenido article {
      width: 90vw;
      margin: 100px auto; }
      main .mainContenido article .articleDiv {
        padding-bottom: 50px; }
        main .mainContenido article .articleDiv .divh3 div {
          width: 40px;
          margin-right: 10px; }
        main .mainContenido article .articleDiv .divh3 h3 {
          font-size: 0.8rem; }
        main .mainContenido article .articleDiv h2 {
          font-size: 2rem; }
        main .mainContenido article .articleDiv h4 {
          font-size: 0.8rem; }
        main .mainContenido article .articleDiv p {
          width: 100px;
          font-size: 0.8rem; }
          main .mainContenido article .articleDiv p span img {
            height: 12px; }
      main .mainContenido article figure img {
        width: 80vw;
        margin-bottom: 0px; }
  footer {
    font-size: 1rem; }
    footer .footerSection1 p {
      font-size: 0.6rem; }
    footer .footerSection2 h3 {
      font-size: 0.8rem; }
    footer .footerSection2 ul li a {
      font-size: 0.6rem; } }
