//  COLORES
$blanco: #FFFFFF;
$amarillo: #FBD784;
$oscuro: #0B1D26;
$sombraDegrade: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);

// FUENTES
$AB: 'ABeeZee', sans-serif;
$mono: 'Overpass Mono', monospace;
$Pl: 'Playfair Display', serif;

