@import "variables";
@import "header";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $mono;
    font-size: 62.5%;
    background-color: $oscuro;
    color: $blanco;
}

main {
    width: 100vw;
    .mainPincipal {
        height: 40vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding: 60px 0 0 ;

        .imgPortada {
            position: absolute;
            top: 0%;
            z-index: -1;
            width: 100vw;
            // margin-bottom: 80px;
            // como hacer para que no aumente el alto de la imagen cuando va aumentando el ancho?
            // padding-bottom: 5vh;
        }

        .mainPrincipal__social {
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-evenly;
            padding-top: 10px;

            p {
                // width: 36px;
                transform: rotate(90deg);
                font-size: 0.4rem;
                // padding-right: 20px;
            }

            ul {
                list-style: none;

                img {
                    width: 10px;

                }
            }

        }

        .mainPrincipal__titulo {
            width: 60vw;

            .divh3 {
                display: flex;
                align-items: center;
                div {
                    width: 22px;
                    height: 1px;
                    margin-right: 5px;
                    background-color: $oscuro;
                }
                h3{

                    font-weight: 700;
                    color: $oscuro;
                    text-transform:uppercase;
                    font-size: 0.5rem;
                }
                
            }
            h1 {
                padding-bottom: 15px ;
                font-family: $Pl;
                font-size: 1.5rem;
                text-transform: capitalize;
            }
            p {
                // padding-top: 15px;
                font-weight: 600;
                font-size: 0.4rem;

                span img {
                    height: 8px;
                }
            }
        }

        .mainPrincipal__indice {
            padding: 10px 10px 0 0;
            p {
                font-size: 0.5rem;
            }
            ul {
                list-style: none;

                li {
                    padding-top: 3px;
                }
                a {
                    color: $blanco;
                    text-decoration: none;
                    font-size: 0.5rem;
                }
            }
        }

    }

    .mainContenido {
        
        article {
            width: 80vw;
            margin: 0 auto;

            .articleDiv {
                padding: 0 30px 25px;
                position: relative;
                // bottom: -70px;
                background: radial-gradient(circle farthest-corner at center center, #0b1d26 0%, rgba(11,29,38,0) 80%);

                .divh3 {
                    display: flex;
                    align-items: center;
                    div {
                        width: 22px;
                        height: 1px;
                        margin-right: 5px;
                        background-color: $amarillo;
                    }
                    h3{
    
                        font-weight: 700;
                        color: $amarillo;
                        text-transform:uppercase;
                        font-size: 0.5rem;
                    }
                    
                }
                h2 {
                    padding-bottom: 15px ;
                    font-family: $Pl;
                    font-size: 1.2rem;
                    text-transform: capitalize;
                }
                
                p {
                    width: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 600;
                    font-size: 0.4rem;
                    color: $amarillo;
                    padding-top: 10px;

    
                    span img {
                        height: 8px;
                    }
                }

            }

            figure {
                img {
                width: 80vw;
                margin-bottom: 70px;
                };
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 15px;
    // margin-top: 20px;
    // padding-top: 20px;
    font-size: 0.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1) ;
    // color:;
   

    .footerSection1 {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-family: $AB;
        }

        p {
            font-size: 0.3rem;
            width: 35vw;
            padding-top: 10px;
        }

        p:nth-child(1) {
            opacity: 0.5;
        }
    }

    .footerSection2 {
        h3 {
            font-size: 0.5rem;
            color: $amarillo
        }

        ul {
            list-style: none;

            li {
                padding-top: 8px;
                
                a {
                    color: $blanco;
                    text-decoration: none;
                    font-size: 0.3rem;
                }
            }
        }
    }
}

 @media screen and(min-width: 440px) {
    main {

        .mainContenido {
            margin-top: 20vh;
        .mainPincipal {
        height: 60vh;
;
    }    
}
}

@media screen and(min-width: 510px) {
    main {
        .mainContenido {
               margin-top: 20vh;
;
    }    
}
}
 }

@media screen and (min-width: 768px) {
    main {
        .mainPincipal {
            height: 45vh;
            // padding: 80px 0 0 ;
            justify-content: space-around;

            .mainPrincipal__social {
                height: 200px;
    
                p {
                    font-size: 0.8rem;
                }
    
                ul {
    
                    img {
                        width: 20px;
                    }
                }
    
            }
    
            .mainPrincipal__titulo {    
                .divh3 {
                    div {
                        width: 44px;
                        height: 2px;
                        margin-right: 10px;
                    }
                    h3{
                        text-transform:uppercase;
                        font-size: 1rem;
                    }
                    
                }
                h1 {
                    padding-bottom: 20px ;
                    font-size: 3rem;
                }
                p {
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
    
                    span img {
                        height: 16px;
                        padding-left: 12px;
                    }
                }
            }
    
            .mainPrincipal__indice {
                padding-top: 20px;
                p {
                    font-size: 1rem;
                }
                ul {    
                    li {
                        padding-top: 8px;
                    }
                    a {
                        font-size: 0.8rem;
                    }
                }
            }
    
        }
    
        .mainContenido {
            margin-top: 12vh;
            :nth-child(2) {
                flex-direction: row-reverse;
            }
            
            article {
                max-width: 700px;
                margin-top: 40px;
                display: flex;
                align-items: center;
    
                .articleDiv {
                    bottom: 0px;
    
                    .divh3 {
                        div {
                            width: 40px;
                        }
                        h3{
                            font-size: 0.8rem;
                        }
                        
                    }
                    h2 {
                        padding-bottom: 25px ;
                        font-size: 1.7rem;
                        text-transform: capitalize;
                    }
                    
                    p {
                        width: 80px;
                        font-size: 0.6rem;
                        padding-top: 12px;
        
                        span img {
                            height: 12px;
                        }
                    }
                }
    
                figure {
                    img {
                    width: 40vw;
                    max-width: 350px
                    };
                }
    
            }
        }   
    }
}

@media screen and (min-width: 1024px){
    main {
        .mainPincipal {
            height: 60vh;
            width: 100vw;

            // .imgPortada {
            //     height: 100vh;
            // }

            .mainPrincipal__social {
                height: 200px;
                padding-top: 10px;
    
                p {
                    font-size: 1rem;
                }
    
                ul {    
                    img {
                        width: 20px;
                    }
                }
            }
    
            .mainPrincipal__titulo {
    
                .divh3 {
                    
                    div {
                        width: 22px;
                        height: 1px;
                        margin-right: 5px;
                        background-color: $oscuro;
                    }
                    h3{
                        font-size: 1rem;
                    }
                    
                }
                h1 {
                    font-size: 2.8rem;
                }
                p {
                    font-weight: 600;
                    font-size: 0.8rem;
    
                    span img {
                        height: 16px;
                    }
                }
            }
    
            .mainPrincipal__indice {
                padding: 15px 10px 0 0;
                p {
                    font-size: 1rem;
                }
                ul {
                    a {
                        font-size: 1rem;
                    }
                }
            }
    
        }
    
        .mainContenido {
            margin-top: 75vh;

            article {
                width: 90vw;
                margin: 100px auto;
    
                .articleDiv {
                    padding-bottom: 50px;
                    // width: 50vw;
                    // padding: 0 30px 25px;
                    
    
                    .divh3 {
                        div {
                            width: 40px;
                            margin-right: 10px;
                        }
                        h3{
                            font-size: 0.8rem;
                        }
                    }
                    h2 {
                        font-size: 2rem;
                    }
                    h4 {
                        font-size: 0.8rem;
                    }
                    
                    p {
                        width: 100px;
                        font-size: 0.8rem;    
        
                        span img {
                            height: 12px;
                        }
                    }
    
                }
    
                figure {
                    img {
                    width: 80vw;
                    margin-bottom: 0px;
                    };
                }
            }
        }
    }
    
    footer {
        font-size: 1rem;

        .footerSection1 {
            p {
                font-size: 0.6rem;
            }
    
        }
    
        .footerSection2 {
            h3 {
                font-size: 0.8rem;
            }
            ul {
                li {                    
                    a {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}